$brand-font-family: 'Open Sans', Arial, sans-serif;

$brand-color: #f31119;
$brand-color-lighter: desaturate(lighten($brand-color, 50%), 20%);
$brand-neutral-colors: (#646972, #878c95, #F0F3F5);
$brand-accent-colors: (#00236b, #d7dee2);
$brand-status-colors: (
  critical: #dd3000,
  error: #dd3000,
  warning: #f0c954,
  ok: #008375,
  unknown: #C3C5C8,
  disabled: #C3C5C8
);
$brand-link-color: $brand-color;
$brand-grey-colors: (#000001, #646569, #C3C5C8, #F6F6F7);
$brand-graph-colors: (#2E7CBE, #99DAF8, #F1F9F7, #F9F9EC);
$focus-border-color: #00236b;

@import '~grommet/scss/grommet-core/index';

.#{$grommet-namespace}control-icon {
  path,
  line,
  polyline,
  circle,
  rect,
  polygon {
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

$border-radius: 4px;
